/******************************************
/* LAYOUT
/*******************************************/
html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #283258;
  font-family: 'Roboto', sans-serif;
  padding: 5% 0 0 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
  font-weight: lighter;
}

h2 {
  color: #ABB3BE;
  font-size: 2.5rem;
  text-align: center;
  font-weight: lighter;
}

.botmarg {
  margin-bottom: 0;
}

.mechanics {
  width: 45%;
  height: 45%;
  margin-bottom: 0;
}

.logo {
  width: 25%;
  height: 25%;
  margin-top: 1%;
  margin-bottom: 0;
}

@media (min-width: 600px) and (max-width: 1100px) {
  .mechanics {
    width: 70%;
    height: 70%;
    margin-bottom: 0;
  }
  
  .logo {
    width: 40%;
    height: 40%;
    margin-top: 1%;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .mechanics {
    width: 90%;
    height: 90%;
    margin-bottom: 0;
  }
  
  .logo {
    width: 60%;
    height: 60%;
    margin-top: 1%;
    margin-bottom: 0;
  }
}